body::before {
    content: "";
    background: rgba(1, 51, 13, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../img/wallpaper3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    background-position: center;
    display: flex;
    place-items: center;
    justify-content: center;
}

h1{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-size: clamp(0.7rem, 5vw, 2.5rem);
    color: #FFF;
    text-align: center;
    letter-spacing: 1px;
}

.center{
    margin: 0;
    padding: 0;
    background-color: #000000d2;
    padding: 5vh;
    max-width: 80vw;
    max-height: 85vh;
    border-radius: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    position: absolute;
}

label{
    color: #fff;
    font-family: "Poppins";
    line-height: 40px;
    width: 100;
    font-size: clamp(0.4rem, 5vw, 1.5rem);
}

img{
    width: 100%; 
    max-width: 450px;
    opacity: 0.3;
    filter: invert(1);
    position: absolute;
}

button{
    background-color: transparent;
    border-color: #67AD79;
    font-family: "Time";
    color: #67AD79;
    font-size: clamp(2rem, 5vw, 3rem);
    transition: 1s ease-in-out;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
}

button:hover{
    background-color: #3a6344;
    border-radius: 0 15px 0 15px;
    color: #000;   
}

input{
    border-radius: 5px;
    margin-top: 5px;
    border-color: rgb(255, 255, 255);
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    padding: 5px;
    font-family: "Poppins";
    max-width: 30vw;
    color: #fff;
    background-color: transparent;
}

input::placeholder{
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Poppins";
    color: #cacaca;
}

span{
    justify-content: space-evenly;
    place-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 800px){
    body{
        background-size: auto;
    }

    .center{
        background-color: #0000009a;
        min-width: 100vw;
        min-height: 100vh;
        justify-content: center;
    }

    label{
        line-height: 27px;
    }
}
