body::before {
    content: "";
    background: rgba(0, 0, 0, 1); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 5s ease-in-out;
}

.ativar-escurecimento::before {
    background: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../img/wallpaper\ 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    background-position: center;
}

h1 {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: "Time";
    font-size: clamp(2rem, 5vw, 4rem);
    color: #67AD79;
    opacity: 0.8;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.center {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    position: absolute;
}

img {
    width: 100%; 
    max-width: 450px;
    opacity: 0.9;
}

button {
    background-color: transparent;
    border-color: #67AD79;
    font-family: "Time";
    color: #67AD79;
    font-size: clamp(2rem, 5vw, 4rem);
    transition: 1s ease-in-out;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
}

button:hover {
    background-color: #3a6344;
    border-radius: 0 15px 0 15px;
    color: #000;   
}
